@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", serif;
  font-weight: 500;
}
html,
body,
[class*="css"] {
  font-family: "Montserrat", serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  font-family: "Montserrat", sans-serif;
}
